<div class="tabela">
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Código vendedor</th>
                <th>Nome vendedor</th>
                <th style="width: 60px;">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td>{{cliente.codigo}}</td>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.vendedor.codigo}}</td>
                <td>{{cliente.vendedor.nome}}</td>
                <td class="acoes">
                    <a>
                        <mat-icon aria-hidden="false">edit</mat-icon>
                    </a>
                    <a (click)="deleta(cliente)">
                        <mat-icon aria-hidden="false">delete</mat-icon>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="ButtonNavigate">
    <button (click)="navigateToCliente()" mat-raised-button color="primary">Novo Cliente</button>
</div>