<div class="tabela">
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th style="width: 60px;">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vendedor of vendedores">
                <td>{{vendedor.codigo}}</td>
                <td>{{vendedor.nome}}</td>

                <td class="acoes">
                    <a>
                        <mat-icon aria-hidden="false">edit</mat-icon>
                    </a>
                    <a (click)="deleta(vendedor)">
                        <mat-icon aria-hidden="false">delete</mat-icon>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="ButtonNavigate">
    <button routerLink="/vendedores/create" mat-raised-button color="primary">Novo Vendedor</button>
</div>