<mat-card class="cardCadstro">
    <mat-card-title>Novo Cliente</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="clinte.nome" name="nome" />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Código" [(ngModel)]="clinte.codigo" name="codigo" />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Código do vendedor" [(ngModel)]="clinte.vendedorCodigo" name="vendedorCodigo" />
        </mat-form-field>
    </form>

    <div style="display: flex; gap: 10px;">
        <button (click)="create()" mat-raised-button color="primary">Salvar</button>
        <button routerLink="/clientes" mat-raised-button>Volta</button>
    </div>
</mat-card>